//@import "global/flatly/variables";
@import "global/slate/variables";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//@import "global/flatly/flatly";
@import "global/slate/slate";

$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

$font-base: "PingFang SC", "Microsoft YaHei", sans-serif;

body {
  font-family: 'Montserrat', $font-base;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', $font-base;
}


.navbar-brand {
  display: flex;
  align-items: center;
  .fa:before { font-size: 34px; }
}

[disabled].btn,
[disabled].btn:hover {
  opacity: .65;
  color: $btn-default-color;
  border-color: $btn-default-border;
  background: $btn-default-bg;
}

